<section class="container-md">
  <form #mForm="ngForm" ngSubmit="saveMovie()">
    <div class="form-group">
      <label class="text-warning" for="title">Movie Title:</label>
      <input id="title" type="text" class="form-control" required pattern="^[a-űA-Ű ]{5,25}$" name="title"
        [(ngModel)]="movie.title">
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label class="text-warning" for="year">Release year:</label>
        <input id="year" type="text" class="form-control" required pattern="^(19[0-9]{2})|(20([0-1][0-9]|2[0-1]))$"
          name="title" [(ngModel)]="movie.year">
      </div>
      <div class="form-group col-6">
        <label class="text-warning" for="category">Category:</label>
        <select class="form-control" name="category" id="category" required [(ngModel)]="movie.category">
          <option value="Choose Category" selected disabled>Choose Category</option>
          <option value="Drama">Drama</option>
          <option value="Action">Action</option>
          <option value="Fantasy">Fantasy</option>
        </select>
      </div>
    </div>
    <button [disabled]="mForm.invalid" class="btn btn-warning" type="submit">Save</button>
    <div><small [hidden]="mForm.valid" class="text-danger">Fill all field to save!</small></div>

  </form>


</section>
